# Binaries for programs and plugins
*.so
*.exe
*.dll
*.bin
*.exec
*.dylib
.DS_Store
*.swp
app
tmp
vendor/
tmp/
report/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
